#project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  flex-direction: column;
  min-width: 100%;
  padding: 150px 0;
  height: auto;
  #project_title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

#contact_title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  color: gray;
  font-weight: 400;
}
