#project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  flex-direction: column;
  min-width: 100%;
  padding: 150px 0;
  height: auto;
  #project_title {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

// #about {
//   min-height: 50vh !important;
// }

#work {
  // display: flex !important;
  // justify-content: center !important;
  // align-items: center !important;
  // align-content: center !important;
  position: relative;
  margin: 0 auto;
}

#contact_content {
  text-align: center;
}

#contact_title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  color: gray;
  font-weight: 400;
}

.portfolio_header {
  font-family: $sftext !important;
  font-weight: 100 !important;
}

.portfolio_content {
  font-family: $scoreextra !important;
  font-size: 1rem;
  letter-spacing: 0.09rem;
  line-height: 1.5rem;
}

.stack_list {
  display: flex;
  flex-direction: row;
  width: 27rem;
}
