.menu_btn_layout {
  display: flex;
  float: right;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  &.wide {
    width: 30rem;
    padding: 0 2rem 0 2rem;
  }
  &.small {
    padding: 0 1rem 0 1rem;
  }
}

.menu_list_layout {
  height: 100vh;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listItem_position {
  text-align: center;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-weight: bold;
  font-size: 1.5rem;
}
