.menu_btn_layout {
  display: flex;
  float: right;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;

  &.wide {
    width: 30rem;
    padding: 0 2rem 0 2rem;
    margin-top: 2rem;
  }
  &.small {
    padding: 2rem 1rem 0 1rem;
  }
}

.menu_list_layout {
  height: 100vh;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list_style {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem !important;
}

.list_font {
  font-family: $scoreextra !important;
  letter-spacing: 0.3rem;
  &:hover {
    color: red;
  }
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-weight: bold;
  font-size: 1.5rem;
}
