.projectcard_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  border-radius: 3px;
  height: 15rem;
  padding: 3rem 2.5rem;
  margin: 0.2rem;
}

.projectcard_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectcard_body_style {
  //   font-family: $scorelight !important;
  color: white;
}

.projectcard_body_stack {
  padding: 1rem 0 0 0;
  color: gray;
}
