.projectcard_layout {
  display: flex;
  flex-direction: column;
  background-color: black;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  border-radius: 3px;
  padding: 3rem 2.5rem;
  // margin: 0.2rem;
  // width: 100%;
  justify-content: center;
  position: relative;
  height: 65%;
}

.projectcard_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectcard_body_style {
  //   font-family: $scorelight !important;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.projectcard_body_stack {
  // padding: 1rem 0 0 0;
  font-size: 0.7rem;
  font-weight: 100;
  align-items: flex-end;
  color: gray;
  position: absolute;
  bottom: 40px;
}

.projectcard_img_layout {
  display: flex;
  flex-direction: row;
}
.projectcard_img {
  position: relative;
  padding: 0 0 0 20px;
  right: 0;
  bottom: 6px;
}

.projectcard_footer {
  display: flex;
  flex-direction: column;
}
