.btn_default_style {
  background: black !important;
  color: white !important;
  font-size: 0.8rem !important;
}

#small_drawer {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  color: black !important;
}

#project_btn {
  position: relative;
  margin: 0 auto;
}

#contact_btn {
  position: relative;
  margin: 0 auto;
}

.MuiTab-textColorInherit.Mui-selected {
  background: black;
  color: white;
}
