.btn_default_style {
  background: black !important;
  color: white;
  font-size: 0.8rem !important;
}

#small_drawer {
  cursor: pointer;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  color: black !important;
}

#project_btn {
  position: relative;
  margin: 0 auto;
}

#contact_btn {
  position: relative;
  margin: 0 auto;
}

.MuiTab-textColorInherit.Mui-selected {
  background: black;
  color: white;
}

#dark_button {
  padding: 0.8rem;
  margin-top: 1rem;
  background: black !important;
  border: 1px solid black !important;
  color: black !important;
  &:hover {
    background: black !important;
    color: black !important;
  }
}

#more_button {
  padding: 0.8rem;
  margin-top: 1rem;
  background: white !important;
  border: 1px solid black !important;
  color: black !important;
  &:hover {
    background: black !important;
    color: white !important;
  }
}

// #about {
//   &:hover {
//     color: red;
//   }
// }

#exp {
  &:hover {
    color: red;
  }
}

#btn_project {
  &:hover {
    color: red;
  }
}

#btn_contact {
  &:hover {
    color: red;
  }
}

#resume_btn {
  color: white;
}

#hide_resume_btn {
  color: black;
}
